body {
    background-color: #4462A9;
    color: #95AADC;
    font-weight: lighter;
    
}

#todo-title{
    display: flex;
    justify-Content: center;
    font-size: 7vh;
    margin: 0;
    padding: 5px;
}

#form-container {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px 3px;
    justify-items: center;
}
#add-todo-btn {
    grid-column: 2 / 3;
    grid-row: 2;
}

button {
    background-color: #5F47AD;
    color: #A897DE;
    border: 1px solid #492E9F;
    border-radius: 20px;
}

input {
    background-color: #6581C1;
    color: #2B4D9B;
    border: 1px solid #2B4D9B;
    border-radius: 20px;
    padding: 5px;
    grid-column: inputs;
    width: 90%;
}
::placeholder {
    color: #95AADC;
}

.title-input {
    grid-column: 1 / 2;
}
.desc-input {
    grid-column: 2 / 3;
}
.img-input {
    grid-column: 3 / 4;
}

#todo-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    
}

.todo-div {
    border: 1px solid #2B4D9B;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    width: 60vw;
    text-align: center;
    display: grid;
    grid-template-areas:
        "a a a a"
        "b b b b"
        ". d d ."
        ". d d ."
        ". d d ."
        "e f h i"
        "g g g g";
    justify-items: center;
    grid-row-gap: 3px;
    min-height: 0;
}
.btn-div {
    margin: 5px;
    width: 7vw;
    grid-area: h;
    display: flex;
}
.btn-div > button {
    margin: 3px;
}
.check-div {
    grid-area: f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.todo-div > h1 {
     grid-area: a;
    margin: 2%;
}
.grid-desc {
    grid-area: b;
    justify-self: center;
    margin: 1%;
}

#checkbox {
    width: 3vw;
}

.completed {
    text-decoration: line-through;
    
}

.todo-img {
    width: 50vw;
    height: auto;
    grid-area: d;
    margin: 2%;
}

.hidden {
    display: none;
}

#save-mode {
    opacity: .75;
    background-color: #6581C1;
    color: #2B4D9B;
    border: 2px solid #2B4D9B;

}

#save-mode > h1 {
    border: 2px solid #2B4D9B;
}

#save-mode > .grid-desc {
    grid-area: b;
}

#save-mode > p{
    border: 2px solid #2B4D9B;
    grid-area: g;
    
}