

.tab-form {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.g_fret-container {
    height: 175px;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.g_string {
    display: flex;
    flex-direction: row;
    height: 15%;
}

.g_fret, .g_fret1 {
    display: flex;
    align-items: center;
    text-align: center;
    width: 15%;
    border-right: 1px solid red;
}
.g_fret::before, .g_fret::after, .g_fret1::before, .g_fret1::after {
    content: "";
    border-bottom: 1px solid black;
    flex: 1;
}
.g_fret1 {
    border-left: 2px solid blue;
}
