@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap');
* {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #476785;
}

.nav-container {
    width: 100%;
    height: 50px;
    background-color: #143452;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-link {
    color: #A69839;
    text-decoration: none;
    margin: 10px;
    background-color: inherit;
}

.logout-btn {
    border: 2px solid #A69839;
    background-color: #CDC066;
    border-radius: 5px;
    margin: 10px
}

.footer-container {
    visibility: hidden;
}

/************************? Mobile Screen Size  ***************************/
/* ? *********************************************************************/
/* @media only screen and (max-width: 767px){ */
    /**************************! HOME ***************************/
    .home-container {
        display: grid;
        grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
        justify-items: center;
        width: 100vw;
        background-color: #476785;
    }

    .inst-select {
        grid-column: 4 / 6;
        grid-row: 1;
        border: 2px solid #143452;
        /* border-left: 2px solid #143452; */
        /* border-top: none; */
        /* border-right: none; */
        background-color: #6F89A1;
        /* box-shadow: 1px -1px 3px #143452; */
        margin-top: 10px;
    }

    .home-header {
        grid-column: 1 / 4;
        grid-row: 2;
        font-family: lobster, sans-serif;
        font-size: 52px;
        margin-bottom: 10px;
        padding: 5px;
        color: #64040b;
    }

    .instructions {
        grid-column: 1 / 6;
        grid-row: 3;
        font-size: 14px;
        margin-bottom: 10px;
    }

    /*********** Tab Inputs/Note Display  ***********/
    .tab-form {
        display: flex;
        flex-direction: column;
        width: 35vw;
        grid-column: 2 / 5;
        grid-row: 4;
    }
    .tab-form > button {
        border: 2px solid #A69839;
        background-color: #CDC066;
        border-radius: 5px;
        color: #143452;
        font-family: lobster, sans-serif;
        font-weight: lighter;
        width: 40vw;
    }
    
    .tab-input-div {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 7px;
        background-color: inherit;
    }
    .tab-input-div > input {
        border: 3px solid #143452;
        border-radius: 10px;
        padding: 3px;
        background-color: #6F89A1;
        color: #143452;
        width: 50%;
    }
    .tab-input-div > input::placeholder {
        color: #2A4C6C;
    }

    .note-container {
        grid-column: 4 / 5;
        grid-row: 4;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 7px;
    }
    .note-container > p {
        margin: 0;
        color: #051E36;
        
    }
    .note-container > p:empty {
        display: none;
    }
    
    /*********** Fret Board Diagram  ***********/
    .fret-container {
        grid-column: 2 / 5;
        grid-row: 5;
        justify-self: center;
        height: 200px;
        width: 90vw;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 10px;
        display: flex;
        flex-direction: column;
    }
    
    .string, .four-string {
        display: flex;
        flex-direction: row;
    }
    .string {
        height: 15%
    }
    .four-string {
        height: 23%;
    }
    
    .fret, .fret1 {
        display: flex;
        align-items: center;
        text-align: center;
        width: 20%;
        border-right: 2px solid #051E36;
        color: #A69839;
    }
    .fret::before, .fret::after, .fret1::before, .fret1::after {
        content: "";
        border-bottom: 1px solid #143452;
        flex: 1;
    }
    .fret1 {
        border-left: 2px solid #520107;
    }

    .back5, .back7 {
        display: none;
    }


/* todo: find a better, more transparent fret-dot *******************/
    .dotted {
        background-image: url("./images/fret-dot.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50px;
        position: relative;
        /* display: block; */
        
    }
    /* .dotted::after {
        background-image: url("./images/fret-dot.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50px;
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    } */

    /***************************! SEARCH ****************************/
    .search-container {
        display: grid;
        grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
        justify-items: center;
    }

    .search-header {
        grid-column: 3 / 5;
        font-family: lobster, sans-serif;
        font-size: 52px;
        margin-bottom: 10px;
        padding: 5px;
        color: #64040b; 
    }

    /***************** Search Form ****************/
    .search-form {
        grid-column: 2 / 5;
        grid-row: 2;
        width: 80vw;
        margin-top: 10px;
        text-align: center;
    }
    .search-form > button {
        border: 2px solid #A69839;
        border-radius: 5px;
        background-color: #CDC066;
        font-family: lobster, sans-serif;
        color: #051E36;
    }

    .search-input {
        width: 75%;
        border: 2px solid #143452;
        border-radius: 5px;
        padding: 2px;
        margin-bottom: 5px;
        margin-right: 5px;
        background-color: #6F89A1;
        color: #143452;
    }
    .search-input::placeholder {
        color: #143452;
    }

    .search-select { 
        grid-column: 2 / 3;
        grid-row: 3;
        margin-bottom: 5px;
        border: 2px solid #143452;
        background-color: #6F89A1;
        color: #143452; 
    }

    .search-message-div {
        grid-column: 2 / 5;
        grid-row: 4;
        margin-bottom: 10px;
        color: #143452; 
    }
    .search-message-div > p {
        margin: 0;
        padding: 5px;
    }

    /***************** Search Results ****************/
    .result-container {
        grid-column: 2 / 5;
        grid-row: 4;
        padding: 0 5px;
        width: 50vw;
        min-height: 75vh;
    }
    .result-link {
        margin-bottom: 0;
        color: #051E36;
    }
    .result-link:hover {
        color: #CDC066;
        cursor: pointer;
    }

    .result-btn {
        border: 2px solid #A69839;
        background-color: #CDC066;
        color: #051E36;
        border-radius: 5px;
        font-family: lobster, sans-serif;
    }
    .result-div{
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }
    
    

    /***************************! USER AUTH ****************************/
    .auth-container {
        display: grid;
        grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
        grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
        justify-items: center;
    }

    .auth-header{
        grid-column: 3 / 5;
        align-self: end;
        font-family: lobster, sans-serif;
        font-size: 52px;
        margin-bottom: 10px;
        padding: 5px;
        color: #64040b;
    }
    
    .auth-form {
        border: 3px solid #143452;
        border-radius: 10px;
        grid-column: 2 / 5;
        grid-row: 2 / 4;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .auth-form > input {
        border: 2px solid #143452;
        border-radius: 5px;
        padding: 2px;
        background-color: #6F89A1;
    }
    .auth-form > input::placeholder {
        color: #143452
    }
    .auth-form > button {
        border: 2px solid #A69839;
        border-radius: 5px;
        background-color: #CDC066;
        color: #143452;
        font-family: lobster, sans-serif;
    }


    .login-toggle {
        grid-column: 2 / 5;
        grid-row: 4;
        align-self: start;
        margin: 5px;
        border: 2px solid #A69839;
        border-radius: 5px;
        background-color: #CDC066;
        color: #143452;
        font-family: lobster, sans-serif;
    }

    .error {
        grid-column: 2 / 5;
        grid-row: 4;
        align-self: end;
        color: #64040b;
        align-self: center;
        padding: 10px;
    }

    /***************************! SETLIST ****************************/
    .setlist-container {
        display: grid;
        grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
        justify-items: center;
        min-height: 75vh;
    }

    .set-title {
        grid-column: 4 / 5;
        font-family: lobster, sans-serif;
        color: #64040b;
        font-size: 52px;
        align-self: center;
    }

    .saved-container {
        grid-column: 2 / 5;
        padding: 0 5px;
        width: 90vw;
        display: flex;
        flex-direction: column;
    }

    /******************* Saved Tabs ********************/
    .saved-tab {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        color: #051E36;
        
        margin: 5px;
    }

    .saved-link {
        grid-column: 1 / 5;
        justify-self: start
    }
    .saved-link:hover {
        color: #CDC066;
        cursor: pointer;
    }
    
    .note-form {
        grid-column: 1 / 5;
        grid-row: 2;
        justify-self: start;
        width: 100%;
    }

    .delete-btn {
        grid-column: 4 / 5;
        grid-row: 2;
        align-self: end;
        border: 2px solid #A69839;
        border-radius: 5px;
        background-color: #CDC066;
        color: #143452;
        font-family: lobster, sans-serif;
    }

    .note-btn {
        border: 2px solid #A69839;
        border-radius: 5px;
        background-color: #CDC066;
        color: #143452;
        font-family: lobster, sans-serif;
    }

    .saved-notes {
        font-size: 12px;
        border: 2px solid #143452;
        border-radius: 5px;
        margin: 2px;
        padding: 3px;
        color: #051E36;
        /* width: 100%; */
        background-color: #6F89A1;
    }
    .edit-notes {
        border: 2px solid #143452;
        border-radius: 5px;
        margin: 2px;
        padding: 3px;
        color: #051E36;
    }
    .edit-notes::placeholder {
        color: #6F89A1;;
    }


/* } */


/************************? Tablet Screen Size  ***************************/
/* ? *********************************************************************/
@media only screen and (min-width: 768px){
    /**************************! HOME ******************************/
    .home-container {
        grid-template-columns: 20vw 20vw 20vw 20vw 10vw 10vw;
    }
   
    .fret, .fret1 {
        width: 14%;
    }

    .back7 {
        display: inherit;
    }

    .fret-container {
        grid-row: 4;
        grid-column: 2 / 6;
        justify-self: end;
        width: 80vw;
        height: 225px;
        margin-top: 0;
        margin-right: 0;
        z-index: 0;
    }

    .home-sidebar {
        grid-column: 1 / 2;
        grid-row: 1 / 6;
        justify-self: start;
        z-index: 0;
        width: 10vw;
        padding: 0 5px;
        height: 100vh;
        background-color: #64040b;
    }

    .tab-form {
        grid-column: 1 / 2;
        grid-row: 4;
        justify-self: start;
        /* justify-content: center; */
        width: 10vw;
        padding-right: 5px;
        padding-left: 5px;
        z-index: 1;
        background-color: #64040b;
        
    }

    .tab-form {
        background-color: #64040b;
    }
    .tab-form > button {
        width: 100%;
        
        
    }
    .tab-input-div {
        align-items: center;
    }
    
    .note-container {
        grid-column: 6 / 7;
    }

}


/************************? Desktop Screen Size  ***************************/
/* ? *********************************************************************/
@media only screen and (min-width: 1024px){
    /**************************! HOME ******************************/
    .fret, .fret1 {
        width: 13%;
        font-size: 20px;
    }

    .back5{
        display: inherit;
    }

    .home-sidebar {
        height: 80vh;
    }

    .footer-container {
        visibility: visible;
        width: 100vw;
        height: 20vh;
        background-color: #CDC066;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .footer-container > p, a {
        background-color: inherit;
    }

    .home-header {
        margin-bottom: 20px;
        font-size: 60px;
    }

    .instructions {
        margin-bottom: 30px;
        grid-column: 2 / 4;
    }

    .inst-select {
        margin-top: 20px;
    }
}